body {

}
.principal{
     background: #CCCCCC;
     padding: 30px;
}

.itens{
    font-style: italic;
}

.beneficios{
     backgroud: #FFFFFF;
     padding: 20px;
}

H2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}
#banner {
    width: 100%;
}


h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}


.titulo-principal{
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}
